/* ******* */
/* general */
/* ******* */
body {
    font-family: 'Poppins', sans-serif;
    color: #4e5f83;
}

header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

h1 {
    font-size: 62px;
}

h2 {
    font-size: 36px;
}

.fz12 {
    font-size: 12px;
}

.fz14 {
    font-size: 14px;
}

.fz16 {
    font-size: 16px;
}

.fz20 {
    font-size: 20px;
}

.fz24 {
    font-size: 20px;
}

.fz30 {
    font-size: 30px;
}

.fz40 {
    font-size: 40px;
}

.fw-bold {
    font-weight: bold;
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}

.text-gray {
    color: #4e5f83;
}

.text-lightblue {
    color: #0069ff;
}

.bg-gray {
    background-color: #F3F5F9;
}

.bg-blue {
    background-color: #0248FF;
}

.bg-white {
    background-color: #fff;
}

.bg-black {
    background-color: #000;
}

.blu-nodec-link {
    text-decoration: none;
    font-size: 16px;
    color: #0069ff;
}

.blu-nodec-link:hover {
    text-decoration: none;
    color: #005fe6;
}

.circle {
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #0069ff;
    width: 10px;
    height: 10px;
    margin: 0 5px;
}

.empty-circle {
    background-color: transparent;
}

.empty-circle:hover {
    background-color: rgba(0, 105, 255, .2);
}

.full-circle {
    background-color: #0069ff;
}

/* ****** */
/* header */
/* ****** */
#navbar-inline {
    display: none;
}

#navbar-inline a {
    text-decoration: none;
}

#navbar-top {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid lightgrey;
}

#top-right ul {
    margin: 0;
}

#top-left, #bottom-left {
    margin-left: 30px;
}

#top-right, #bottom-right {
    margin-right: 30px;
}

#top-left .label {
    font-size: 10px;
    background-color: #00d7d2;
    color: #031b4e;
    padding: 4px 8px;
    border-radius: 6px;
    margin-right: 10px;
}

#top-left a, #top-right a {
    color: #4e5f83;
    line-height: 1.5;
    font-size: 12px;
}

#bottom-left a:hover,
#top-left a:hover {
    color: #0069ff;
}

#navbar-bottom {
    height: 65px;
    line-height: 65px;
}

/* linearizzo il menu */
#bottom-left ul {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 0;
}

#top-right ul li,
#bottom-left ul li {
    padding-left: 20px;
}

#bottom-left a {
    color: #000000;
}

.signup-btn {
    border: 1px solid #0069ff;
    font-weight: bold;
    border-radius: 5px;
}

#bottom-right .signup-btn:hover {
    background-color: #0069ff;
    border-color: #0069ff;
    color: white;
}

#navbar-hamburger {
    height: 90px;
    padding: 32px 20px;
}

#hamburger {
    color: rgb(124, 151, 209);
}

/* ************* */
/* section jumbo */
/* ************* */
#jumbo {
    padding-bottom: 64px;
}

#free-banner {
    width: 100%;
    max-width: 1168px;
    background-color: #00b47b;
    border: 1px solid #009969;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
    padding: 8px 16px;
    text-align: center;
}

#free-banner a {
    color: #fff;
}

#deploy-form {
    padding: 32px;
    border-radius: 5px;
    margin-top: 30px;
}

#deploy-form p:not(last-child) {
    font-size: 16px;
}

#deploy-form p:last-child {
    margin-top: 25px;
    font-size: 12px;
}

#deploy-form p:last-child a {
    text-decoration: underline;
}

#deploy-form h2 {
    padding-bottom: 20px;
}

#deploy-form button {
    background-color: #0069ff;
}

#deploy-form button:hover {
    background-color: #1633ff;
    color: #fff;
}

.my-form-control {
    height: 45px;
    padding: 6px 12px;
    font-size: 16px;
    color: #555;
    border: 1px solid #ccc;
    box-shadow: none;
}

.my-form-control:focus {
    color: rgba(3, 27, 78, .7);
    border: 1px solid #0069ff;
    box-shadow: 0 0 2px rgba(17, 169, 94, .5);
}

input::placeholder {
    font-size: 16px;
}

#signup-text p {
    display: inline-block;
    width: 50%;
    white-space: nowrap;
}

/* linee orizzontali a fianco del testo  */
#signup-text div {
    display: inline-block;
    position: relative;
    bottom: 5px;
    border-bottom: 1px solid gray;
    width: 23%;
}

#signup-buttons div a {
    border: 1px solid rgba(0, 105, 255, .2);
    background-color: #f2f8ff;
    color: #031b4e;
    padding-left: 12px;
}

#signup-buttons div a:hover {
    background-color: #d5e4f7;
}

#signup-buttons div:nth-child(1) {
    display: inline-block;
    width: 46%;
    margin-right: 2%;
}

#signup-buttons div:nth-child(2) {
    display: inline-block;
    width: 46%;
    margin-left: 2%;
}

/* **************** */
/* section logolist */
/* **************** */
#logolist {
    padding: 32px;
}

#logolist img {
    width: 75%;
    margin: 0 auto;
    height: 100px;
    object-fit: contain;
    object-position: center;
}

#logolist-link {
    padding-top: 32px;
}

/* **************** */
/* section deploy */
/* **************** */
#deploy {
    margin: 120px 0 60px 0;
}

#deploy-container {
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#deploy-container p {
    margin-bottom: 64px;
}

#deploy-list li {
    border-left: 2px solid #e5e8ed;
    display: block;
    padding: 17px 10px 17px 30px;
    font-size: 16px;
}

#deploy-list li:first-child {
    border-left: 2px solid #0069ff;
}

#deploy-list a {
    text-decoration: none;
    color: #4e5f83;
}

#deploy-list li:nth-child(1) a {
    color: black;
    cursor: default;
}

#deploy-list a:hover {
    color: black;
}

/* **************** */
/* section developers */
/* **************** */
#developers {
    padding: 120px 0;
}

#developers .container {
    max-width: 900px;
}

#developers img {
    display: inline-block;
    max-width: 740px;
    width: 100%;
    margin: 0 auto;
    object-fit: contain;
    object-position: center;
}

#developers p:nth-child(2) {
    margin: 16px 0 64px 0;
}

#developers p:nth-child(4) {
    margin: 20px 0 40px 0;
}

/* **************** */
/* section built */
/* **************** */
#built {
    padding: 60px 0;
}

#built .row div {
    padding-top: 30px;
}

#built img {
    width: 100%;
    margin: 0 auto;
    height: 40px;
    object-fit: contain;
    object-position: left;
}

/* **************** */
/* section service */
/* **************** */
#service {
    padding: 60px 0;
    background: #031b4e url(https://www.digitalocean.com/assets/media/homepage/data-center-map-20321538.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#service h2 {
    padding-bottom: 50px;
}

#service hr {
    margin: 10px 0;
    opacity: 0.4;
    width: 100%;
    background-color: lightgray;
}

#service [class^="col-xs-3"].text-left {
    color: white;
    font-weight: bold;
}

#service [class^="col-xs-3"] {
    padding: 10px;
    font-size: 13px;
}

#service [class^="col-xs-6"] {
    padding: 10px;
    font-size: 13px;
    color: white;
    opacity: 0.6;
}

#service a, #service i {
    text-decoration: none;
    font-size: 13px;
    color: #00d7d2;
}

#service .row .row {
    padding: 15px;
}

/* **************** */
/* section development */
/* **************** */
#development {
    padding: 120px 0;
}

#development h2 {
    padding-bottom: 30px;
}

#development img {
    width: 175px;
    height: 25px;
}

#development .container>p {
    display: inline-block;
    max-width: 970px;
}

#development .container>div {
    position: relative;
}

#development .jumbotron {
    display: inline-block;
    max-width: 740px;
    width: 100%;
    margin: 0 auto 30px auto;
}

#development .jumbotron p:nth-child(2) {
    padding: 20px;
    font-size: 24px;
}

#development .jumbotron p:nth-child(3) {
    font-size: 16px;
    margin-bottom: 0;
}

#development .jumbotron p:nth-child(4) {
    font-size: 12px;
}

/* **************** */
/* section get-started */
/* **************** */
#get-started {
    height: 245px;
    background-image: url(https://www.digitalocean.com/assets//media/homepage/bg-home-1-d54581d7.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 64px;
    padding-top: 64px;
}

#get-started .signup-btn {
    padding: 16px 32px;
}

#get-started .signup-btn:hover {
    background-color: hsla(0, 0%, 100%, .8);
    border-color: #0069ff;
    color: #0069ff;
}

/* ******* */
/* footer */
/* ****** */
footer {
    padding: 60px 0;
}

footer .row {
    padding: 0 15px;
}

footer ul li a {
    color: rgba(255, 255, 255, 0.5);
    margin-top: 7px;
}

footer ul li a:hover {
    color: white;
    text-decoration: none;
}

footer ul li {
    margin-top: 7px;
}

footer ul li:first-child {
    color: white;
    margin-bottom: 14px;
}

#footer-top {
    padding-bottom: 60px;
}

#footer-bottom .container {
    padding-top: 40px;
}

#footer-bottom .container {
    border-top: 1px solid hsla(0, 0%, 100%, .2);
    padding-top: 0;
}

#footer-bottom .row>div {
    padding-top: 40px;
}

#footer-bottom .row>div p {
    line-height: 40px;
}

#footer-bottom p {
    color: rgba(255, 255, 255, 0.5);
}

/* media query */
@media screen and (min-width:481px) and (max-width:767px) {

    /* ------------------------------------------- */
    /* ---------- CUSTOM FRAMEWORK --------------- */
    /* ------------------------------------------- */
    /* valido da 481px fino a 767px */
    .my-col-6 {
        width: 50%;
    }

    .my-col-12 {
        width: 100%;
    }

    /* ------------------------------------------- */
    /* spazio per il testo */
    #signup-text p {
        width: 29%;
    }

    /* spazio per le linee orizzontali ai lati del testo */
    #signup-text div {
        width: 33%;
    }
}

/* da 768px in su */
@media screen and (min-width:768px) {

    /* background passa da blu a immagine */
    #jumbo {
        background-image: url(https://www.digitalocean.com/assets//media/homepage/bg-home-1-d54581d7.jpg);
        background-position: bottom;
        background-repeat: no-repeat;
    }

    #developers img {
        max-width: 80%;
    }

    #development .jumbotron {
        max-width: 80%;
        width: 696px;
    }

    /* freccetina sinistra dello slider */
    .left-angle::before {
        content: "<";
        display: inline-block;
        margin-right: 20px;
        color: gray;
        font-size: 50px;
    }

    /* freccetina destra dello slider */
    .right-angle::after {
        content: ">";
        display: inline-block;
        margin-left: 20px;
        color: black;
        font-size: 50px;
        cursor: pointer;
    }

    /* muovo le freccetine verso l'alto, per centrarle verticalmente*/
    #development .left-angle::before, #development .right-angle::after {
        position: relative;
        bottom: 110px;
    }

    /* centro verticalmente la scritta a sinistra rispetto al contenitore del form che sta a destra */
    #jumbo-left-side {
        position: absolute;
        transform: translateY(50%);
    }
}

/* tra 875px e 992px */
@media screen and (min-width:875px) and (max-width:992px) {

    /* aggiustamento centratura verticale */
    #jumbo-left-side {
        transform: translateY(30%);
    }
}

/* da 875px in su */
@media screen and (min-width:875px) {

    /* vario font-size al variare della dimensione dello screen */
    #jumbo-left-side h1 {
        font-size: 46px;
    }
}

@media screen and (min-width:992px) {
    #deploy .container {
        width: 750px;
    }
}

/* da 1000px in su */
@media screen and (min-width:1000px) {

    /* vario font-size al variare della dimensione dello screen */
    #jumbo-left-side h1 {
        font-size: 54px;
    }
}

/* da 1050px in su */
@media screen and (min-width:1050px) {
    #navbar-inline {
        /* visualizzo menu inline */
        display: block;
    }

    #navbar-hamburger {
        /* hamburger menu sparisce, lascia posto a inline menu */
        display: none;
    }

    #jumbo {
        /* appare la fixed bar occorre un offset per evitare lo "scivolamento" */
        /* della sezione jumbo sotto alla fixed bar */
        padding-top: 105px;
    }

    #free-banner {
        /* spazio tra il free-banner e la fixed bar */
        margin-top: 30px;
    }
}

/* da 1200px in su */
@media screen and (min-width:1200px) {

    /* vario font-size al variare della dimensione dello screen */
    #jumbo-left-side h1 {
        font-size: 62px;
    }

    /* spazio per il testo */
    #signup-text p {
        width: 28%;
    }

    /* spazio per le linee orizzontali a fianco del testo  */
    #signup-text div {
        width: 34%;
    }
}