body {
    font-family: 'Poppins', sans-serif;
    color: #4e5f83;
}

/* general */
h1 {
    font-size: 62px;
}

h2 {
    font-size: 36px;
}

/* .clearfix::after {
    content: "";
    display: table;
    clear: both;
} */
.fz14 {
    font-size: 14px;
}

.fz16 {
    font-size: 16px;
}

.fz18 {
    font-size: 20px;
}

.fz20 {
    font-size: 20px;
}

.fz30 {
    font-size: 30px;
}

.fw-bold {
    font-weight: bold;
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}

.text-gray {
    color: #4e5f83;
}

.text-lightblue {
    color: #0069ff;
}

.bg-gray {
    background-color: #F3F5F9;
}

.bg-blue {
    background-color: #0248FF;
}

.bg-white {
    background-color: #fff;
}

.bg-black {
    background-color: #000;
}

/* header */
.svg-color-white {
    fill: white;
}

.svg-color-blue {
    fill: #0248FF;
}

#navbar-inline {
    /* height: 105px; */
    display: none;
}

#navbar-top {
    height: 40px;
    line-height: 40px;
}

#top-right ul {
    margin: 0;
}

#navbar-bottom {
    height: 65px;
    line-height: 65px;
}

/* allineo verticalmente il logo col testo a destra */
#bottom-left svg {
    vertical-align: text-bottom;
}

/* linearizzo il menu */
#bottom-left ul {
    display: inline-block;
}

.signup-btn {
    border: 1px solid #0069ff;
    font-weight: bold;
    border-radius: 5px;
}

#bottom-right .signup-btn:hover {
    background-color: #0069ff;
    border-color: #0069ff;
    color: white;
}

#navbar-hamburger {
    height: 90px;
    padding: 32px 20px;
}

/* section jumbo */
#jumbo {
    height: 300px;
}

/* section logolist */
#logolist {
    height: 300px;
}

/* section deploy */
#deploy {
    height: 300px;
}

/* section developers */
#developers {
    height: 300px;
}

/* section built */
#built {
    height: 300px;
}

/* section service */
#service {
    height: 300px;
}

/* section development */
#development {
    height: 300px;
}

/* section get-started */
#get-started {
    height: 245px;
    background-image: url(https://www.digitalocean.com/assets//media/homepage/bg-home-1-d54581d7.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 64px;
    padding-top: 64px;
}

#get-started .signup-btn {
    padding: 16px 32px;
}

#get-started .signup-btn:hover {
    background-color: hsla(0, 0%, 100%, .8);
    border-color: #0069ff;
    color: #0069ff;
}

/* footer */
footer {
    height: 300px;
}

/* media query */
/* da 768px insu */
@media screen and (min-width:768px) {

    /* jumbo: testo +form affiancati */
    /* background da blu a immagine */
    #jumbo {
        background-image: url(https://www.digitalocean.com/assets//media/homepage/bg-home-1-d54581d7.jpg);
        background-position: bottom;
        background-repeat: no-repeat;
        /* min-height: 800px; */
    }

    /* 6loghi da 3righe di 2 colonne a 1riga di 6 colonne */
    /* sezione deploy da menu e contenuto incolonnati ad affiancati */
}

/* da 960px in su */
@media screen and (min-width:960px) {
    /* footer da 2 a 5 colonne */
    /* tabella services da 1 a 2 colonne */
    /* sezione built da 2 a 4 colonne */
}

/* da 1050px in su */
@media screen and (min-width:1050px) {

    /* menu da hamburger a inline */
    #navbar-inline {
        display: block;
    }

    /* hambueger lascia posto a inline menu */
    #navbar-hamburger {
        display: none;
    }
}