body {
    font-family: 'Poppins', sans-serif;
    color: #4e5f83;
    max-width: 100%;
}

header {
    background-color: #fff;
    /* height: 105px; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

/* general */
h1 {
    font-size: 62px;
}

h2 {
    font-size: 36px;
}

/* .clearfix::after {
    content: "";
    display: table;
    clear: both;
} */
.fz12 {
    font-size: 12px;
}

.fz14 {
    font-size: 14px;
}

.fz16 {
    font-size: 16px;
}

.fz18 {
    font-size: 20px;
}

.fz20 {
    font-size: 20px;
}

.fz24 {
    font-size: 20px;
}

.fz30 {
    font-size: 30px;
}

.fz40 {
    font-size: 40px;
}

.fw-bold {
    font-weight: bold;
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}

.text-gray {
    color: #4e5f83;
}

.text-lightblue {
    color: #0069ff;
}

.bg-gray {
    background-color: #F3F5F9;
}

.bg-blue {
    background-color: #0248FF;
}

.bg-white {
    background-color: #fff;
}

.bg-black {
    background-color: #000;
}

.empty-circle {
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #0069ff;
    width: 10px;
    height: 10px;
    margin: 0 5px;
}

.fill-circle {
    background-color: #0069ff;
}

/* header */
.svg-color-white {
    fill: white;
}

.svg-color-blue {
    fill: #0248FF;
}

#navbar-inline {
    /* height: 105px; */
    display: none;
}

#navbar-inline a {
    text-decoration: none;
}

#navbar-top {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid lightgrey;
}

#top-right ul {
    margin: 0;
}

#top-left, #bottom-left {
    margin-left: 30px;
}

#top-right, #bottom-right {
    margin-right: 30px;
}

#top-left .label {
    font-size: 10px;
    background-color: #00d7d2;
    color: #031b4e;
    padding: 4px 8px;
    border-radius: 6px;
    margin-right: 10px;
}

#top-left a, #top-right a {
    color: #4e5f83;
    line-height: 1.5;
    font-size: 12px;
}

#bottom-left a:hover,
#top-left a:hover {
    color: #0069ff;
}

#navbar-bottom {
    height: 65px;
    line-height: 65px;
}

/* allineo verticalmente il logo col testo a destra */
#bottom-left svg {
    vertical-align: text-bottom;
}

/* linearizzo il menu */
#bottom-left ul {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 0;
}

#top-right ul li,
#bottom-left ul li {
    padding-left: 20px;
}

#bottom-left a {
    color: #000000;
}

.signup-btn {
    border: 1px solid #0069ff;
    font-weight: bold;
    border-radius: 5px;
}

#bottom-right .signup-btn:hover {
    background-color: #0069ff;
    border-color: #0069ff;
    color: white;
}

#navbar-hamburger {
    height: 90px;
    padding: 32px 20px;
}

#hamburger {
    color: rgb(124, 151, 209);
}

/* section jumbo */
#jumbo {
    padding-bottom: 64px;
}

#free-banner {
    width: 100%;
    max-width: 1168px;
    background-color: #00b47b;
    border: 1px solid #009969;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
    padding: 8px 16px;
    text-align: center;
}

#free-banner a {
    color: #fff;
}

#deploy-form {
    padding: 32px;
    border-radius: 5px;
    margin-top: 30px;
}

#deploy-form h2 {
    padding-bottom: 20px;
}

/* section logolist */
#logolist {
    padding: 32px;
}

#logolist img {
    width: 75%;
    margin: 0 auto;
    height: 100px;
    object-fit: contain;
    object-position: center;
}

#logolist-link {
    padding-top: 32px;
}

/* section deploy */
#deploy {}

#deploy-container {
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#deploy-list li {
    border-left: 2px solid #e5e8ed;
    display: block;
    padding: 17px 10px 17px 30px;
    font-size: 16px;
}

#deploy-list li:first-child {
    border-left: 2px solid #0069ff;
}

/* section developers */
#developers {
    padding: 120px 0;
}

#developers .container {
    max-width: 900px;
}

#developers img {
    display: inline-block;
    max-width: 740px;
    width: 100%;
    margin: 0 auto;
    object-fit: contain;
    object-position: center;
}

#developers p:nth-child(2) {
    margin: 16px 0 64px 0;
}

#developers p:nth-child(4) {
    margin: 20px 0 40px 0;
}

/* section built */
#built {
    padding: 60px 0;
}

#built .row div {
    padding-top: 30px;
}

#built img {
    width: 100%;
    margin: 0 auto;
    height: 40px;
    object-fit: contain;
    object-position: left;
}

/* section service */
#service {
    background: #031b4e url(https://www.digitalocean.com/assets/media/homepage/data-center-map-20321538.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

/* section development */
#development {
    padding: 120px 0;
}

#development h2 {
    padding-bottom: 30px;
}

#development img {
    width: 175px;
    height: 25px;
}

#development .container>p {
    display: inline-block;
    max-width: 970px;
}

#development .jumbotron {
    display: inline-block;
    max-width: 740px;
    width: 100%;
    margin: 0 auto 30px auto;
}

#development .jumbotron p:nth-child(2) {
    padding: 20px;
    font-size: 24px;
}

#development .jumbotron p:nth-child(3) {
    font-size: 16px;
    margin-bottom: 0;
}

#development .jumbotron p:nth-child(4) {
    font-size: 12px;
}

#development .jumbotron a:nth-child(5) {
    font-size: 16px;
}

/* section get-started */
#get-started {
    height: 245px;
    background-image: url(https://www.digitalocean.com/assets//media/homepage/bg-home-1-d54581d7.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 64px;
    padding-top: 64px;
}

#get-started .signup-btn {
    padding: 16px 32px;
}

#get-started .signup-btn:hover {
    background-color: hsla(0, 0%, 100%, .8);
    border-color: #0069ff;
    color: #0069ff;
}

/* footer */
footer {
    height: 300px;
}

/* media query */
@media screen and (min-width:481px) and (max-width:767px) {

    /* ------------------------------------------- */
    /* ---------- CUSTOM FRAMEWORK --------------- */
    /* ------------------------------------------- */
    /* valido da 480px fino a 767px */
    .container {
        max-width: 840px;
    }

    .my-col-6 {
        width: 50%;
    }

    .my-col-12 {
        width: 100%;
    }

    /* ------------------------------------------- */
}

/* da 768px in su */
@media screen and (min-width:768px) {

    /* jumbo: testo +form affiancati */
    /* background da blu a immagine */
    #jumbo {
        background-image: url(https://www.digitalocean.com/assets//media/homepage/bg-home-1-d54581d7.jpg);
        background-position: bottom;
        background-repeat: no-repeat;
    }

    #developers img {
        max-width: 80%;
    }

    #development .jumbotron {
        max-width: 80%;
        width: 696px;
    }

    .left-angle-before::before {
        content: "<";
        display: inline-block;
        margin-right: 20px;
        color: gray;
        font-size: 50px;
    }

    .right-angle-after::after {
        content: ">";
        display: inline-block;
        margin-left: 20px;
        color: black;
        font-size: 50px;
    }
}

/* da 960px in su */
@media screen and (min-width:960px) {
    /* footer da 2 a 5 colonne */
    /* tabella services da 1 a 2 colonne */
    /* sezione built da 2 a 4 colonne */
}

@media screen and (min-width:992px) {
    #deploy .container {
        width: 750px;
    }
}

/* da 1050px in su */
@media screen and (min-width:1050px) {
    #navbar-inline {
        /* menu da hamburger a inline */
        display: block;
    }

    #navbar-hamburger {
        /* hamburger lascia posto a inline menu */
        display: none;
    }

    #jumbo {
        /* appare la fixed bar occorre un offset per evitare lo "scivolamento" */
        /* della sezione jumbo sotto alla fixed bar */
        padding-top: 105px;
    }

    #free-banner {
        /* spazio tra il free-banner e la fixed bar */
        margin-top: 30px;
    }
}